html, body {
	margin: 0;
	padding: 0;
	font-family: Trebuchet MS;
	background-color: #f9f9f9;
	display: block;
	position:absolute;
	height:auto;
	bottom:0;
	top:0;
	left:0;
	right:0;
}

header {
	height: 60px;
	background-color: #333366;
}

#left_header {
	border-right: 1px solid #ccc ;
	width: 330px;
	background-color: white;
	position:relative;
	box-shadow: 3px 0px #eee;
	float: left;
}

#left_header ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

#left_header ol li {
	height: 100px;
	border-top: 2px solid #f9f9f9;
	border-bottom: 2px solid #f9f9f9;
	position: relative;
}

#left_header ol li:hover {
	background: #f9f9f9;
	border-top: 2px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
	cursor: pointer;
}

#left_header ol li h2 {
	margin: 20px;
	background-color: #eee;
	position: absolute;
	font-size: 9pt;
	padding: 4px 10px;
	float: left;
	border-radius: 3px;
	font-weight: normal;
}

#left_header ol li:hover h2 {
	background-color: #e3e3e3;
}

#left_header ol li div.total {
	position: absolute;
	text-align: right;
	font-size: 19pt;
	right: 20px;
	top: 55px;
}

#left_header ol li:hover div.total {
	font-weight: bold;
}

#left_header ol li.positivo div.total {
	color: green;
}

#left_header ol li.negativo div.total {
	color: red;
}

#left_header ol li div.total small {
	font-size: 10pt;
}

.bdy-container {
	margin: 20px auto;
	margin-left: 350px;
	position: relative;
	padding-right: 20px;
}

.bdy-container h1 {
	font-size: 16pt;
	color: #333;
	padding-top: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
}

.cuenta-menu {
	position: relative;
	left: -20px;
	float: right;
}

.ver-cuenta {
	border: 1px solid #eee;
	background-color: #fff;
}

.ver-cuenta .tabla {
	border: 1px solid #eee;
	width: 98%;
	margin: 10px auto;
	font-size: 9pt;
}

.ver-cuenta .tabla tr:hover {
	background: #ffffcc !important;
}

.ver-cuenta .tabla tr.header {
	background: #ccc !important;
	font-size: 10pt;
	font-weight: bold;
	height: 50px;
}

.ver-cuenta .tabla td {
	padding: 7px;
	font-size: 8pt;
}

.ver-cuenta .tabla tr.dark {
	background: #eee;
}

#dialogPageRubrado .rubrar-container {
	height: 500px;
}

#dialogPageRubrado .rubrar-container.loading {
	background-image: url();
}

.selectPersona, .selectCuenta {
	list-style: none;
	padding: 0;
	margin: 0;
}

.selectPersona {
	height: 165px;
	border-bottom: 4px solid #eee;
	margin-bottom: 20px;
}

.selectPersona li, .selectCuenta li {
	border: 1px solid #ccc;
	font-size: 9pt;
	padding: 8px;
	text-align: center;
	margin: 5px;
	color: #666;
	width: 128px;
	float: left;
}

.selectPersona li {
	font-size: 10pt;
	padding: 15px 8px;
	padding-bottom: 0;
	font-weight: bold;
	border-bottom-width: 3px;
}

.selectPersona li.blue	{	border-bottom-color: #003366;	}
.selectPersona li.green	{	border-bottom-color: #006600;	}
.selectPersona li.black	{	border-bottom-color: black;	}

.selectCuenta li {

}

.selectPersona li img {

	width: 100px;
	height: 100px;
}

.selectPersona li span {
	position: relative;
	top: -15px;
}

.selectPersona li.blue:hover,.selectPersona li.blue.selectedPersona	{	background-color: #ecf0ff; border-color: #003366; color: #003366;	}
.selectPersona li.green:hover,.selectPersona li.green.selectedPersona	{	background-color: #e8ffe0; border-color: #006600; color: #006600;	}
.selectPersona li.black:hover,.selectPersona li.black.selectedPersona	{	background-color: #eeeeee; border-color: black; color: black;	}


.selectPersona li:hover, .selectCuenta li:hover {
	cursor: pointer;
	background-color: #eee;
}

.selectCuenta li.selectedCuenta {
	background-color: #eee;
	border: 1px solid #333;
	color: #333;
}

#rubrar-container h2 {
	font-size: 14pt;
}

#rubrar-container span {
	float: right;
	font-size: 16pt;
}

#rubrar-container p {
	text-align: center;
	font-size: 11pt;
	padding: 30px 0;
	background-color: #eee;
	border-radius: 10px;
}